@media screen and (min-width:280px) and (max-width:989px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    video {
        height: 70vh;
    }
}

@media screen and (min-width:990px) {
    body {
        overflow: hidden;
    }
}